/* owl */
.owl,.owl .owl-item{-webkit-tap-highlight-color:transparent;position:relative}
.owl{display:none;width:100%;z-index:1}
.owl .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}
.owl .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}
.owl .owl-item,.owl .owl-wrapper{-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.owl .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}
.owl .owl-item img{display:block;width:100%}
.owl .owl-dots.disabled,.owl .owl-nav.disabled{display:none}
.no-js .owl,.owl.owl-loaded{display:block}
.owl .owl-dot,.owl .owl-nav .owl-next,.owl .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;}
.owl.owl-loading{opacity:0;display:block}
.owl.owl-hidden{opacity:0}
.owl.owl-refresh .owl-item{visibility:hidden}
.owl.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;}
.owl.owl-grab{cursor:move;cursor:grab}
.owl.owl-rtl{direction:rtl}
.owl.owl-rtl .owl-item{float:right}
.owl .animated{animation-duration:1s;animation-fill-mode:both}
.owl .owl-animated-in{z-index:0}
.owl .owl-animated-out{z-index:1}
.owl .fadeOut{animation-name:fadeOut}
@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
.owl-height{transition:height .5s ease-in-out}
.owl .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}
.owl .owl-item img.owl-lazy{transform-style:preserve-3d}
.owl .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}
.owl .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}
.owl .owl-video-playing .owl-video-play-icon,.owl .owl-video-playing .owl-video-tn{display:none}
.owl .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}
.owl .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/* owl dot */
.owl-dots{display: inline-block;position: absolute;bottom: 10px;left: 50%;transform: translate(-50%,0);}
.owl-dots .owl-dot{display: inline-block;float: left;}
.owl-dots .owl-dot.active{}
.owl-dots .owl-dot.active span{background:#2196F3;}
.owl-dots .owl-dot span{width: 12px;height: 12px;display: block;background:#9E9E9E;border-radius: 50%;margin:3px 5px;transition:all 0.3s ease;}
.owl-dots .owl-dot span:hover{background:#607D8B;}
/* btn owl show */
.arr_owls .owl-nav{position: absolute;top: 50%;width: 100%;left: 0;visibility: hidden;}
.arr_owls .owl-nav .owl-prev{position:absolute;top:50%;left:0px;transform:translate(0,-50%);width: 25px;height: 55px;background:transparent;color:#2a3f54;border-radius: 3px;font-size: 0;visibility: visible;transition:all 0.3s ease;}
.arr_owls .owl-nav .owl-prev:before{content:"\f104";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owls .owl-nav .owl-prev:hover{background: rgba(0, 0, 0, 0.5);color:#fff;}
.arr_owls .owl-nav .owl-next{position:absolute;top:50%;right:0px;transform:translate(0,-50%);width: 25px;height: 55px;background:transparent;color:#2a3f54;border-radius: 3px;font-size: 0;visibility: visible;transition:all 0.3s ease;}
.arr_owls .owl-nav .owl-next:before{content:"\f105";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owls .owl-nav .owl-next:hover{background: rgba(0, 0, 0, 0.5);color:#fff;}
/* btn owl hidden */
.arr_owlh .owl-nav{position: absolute;top: 50%;width: 100%;left: 0;visibility: hidden;}
.arr_owlh .owl-nav .owl-prev{position:absolute;top:50%;left:-25px;transform:translate(0,-50%);width: 25px;height: 55px;background:transparent;color:#2a3f54;border-radius: 3px;font-size: 0;visibility: visible;transition:all 0.3s ease;}
.arr_owlh .owl-nav .owl-prev:before{content:"\f104";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owlh .owl-nav .owl-prev:hover{background: rgba(0, 0, 0, 0.5);color:#fff;}
.arr_owlh:hover .owl-nav .owl-prev{left:0px;}
.arr_owlh .owl-nav .owl-next{position:absolute;top:50%;right:-25px;transform:translate(0,-50%);width: 25px;height: 55px;background:transparent;color:#2a3f54;border-radius: 3px;font-size: 0;visibility: visible;transition:all 0.3s ease;}
.arr_owlh .owl-nav .owl-next:before{content:"\f105";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owlh .owl-nav .owl-next:hover{background: rgba(0, 0, 0, 0.5);color:#fff;}
.arr_owlh:hover .owl-nav .owl-next{right:0px;}
/* btn owl show */
.arr_owlfh .owl-nav{position: absolute;top: 0;right: 0;left: 0;bottom: 0;visibility: hidden;}
.arr_owlfh .owl-nav .owl-prev{position: absolute;top: 0;left: 0px;width: 30px;bottom: 0;background: #eee;color: #2a3f54;border-radius: 0;font-size: 0;visibility: visible;transition: all 0.3s ease;border-right: 1px solid #ddd;opacity:0.7}
.arr_owlfh .owl-nav .owl-prev:before{content:"\f104";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owlfh .owl-nav .owl-prev:hover{opacity:1;}
.arr_owlfh .owl-nav .owl-next{position: absolute;top: 0;right: 0px;width: 30px;bottom: 0;background: #eee;color: #2a3f54;border-radius: 0;font-size: 0;visibility: visible;transition: all 0.3s ease;border-left: 1px solid #ddd;opacity:0.7}
.arr_owlfh .owl-nav .owl-next:before{content:"\f105";font-family: FontAwesome;visibility: visible;font-size: 45px;height: 21px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.arr_owlfh .owl-nav .owl-next:hover{opacity:1;}