/* stick */
.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-webkit-touch-callout: none;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}[dir='rtl'] 
.slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
.slick-prev,.slick-next{font-size: 0;line-height: 0;position: absolute;z-index: 1;top: 50%;display: block;width: 25px;height: 56px;padding: 0;/* -webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%) */;transform: translate(0, -50%);cursor: pointer;color: transparent;border: none;outline: none;background: transparent;}
.slick-prev:hover{background: url(../img/bg/btn-prev-rg-hover.png) no-repeat}
.slick-next:hover{background: url(../img/bg/btn-next-rg-hover.png) no-repeat}
.slick-prev{left: -35px;background: url(../img/bg/btn-prev-rg.png) no-repeat;transition:all 0.3s ease;}
.slick-next{right: -35px;background: url(../img/bg/btn-next-rg.png) no-repeat;transition:all 0.3s ease;}
.slick-dots{position: absolute;bottom: -20px;display: block;width: 100%;padding: 0;margin: 0;list-style: none;text-align: center;}
.slick-dots{position: absolute;bottom: 10px;display: block;width: 100%;padding: 0;margin: 0;list-style: none;text-align: center;}
.slick-dots li{position: relative;display: inline-block;width: 20px;height: 20px;margin: 0 5px;padding: 0;cursor: pointer;}
.slick-dots li button{font-size: 0;line-height: 0;display: block;width: 20px;height: 20px;padding: 5px;cursor: pointer;color: transparent;border: 0;outline: none;background: transparent;}
.slick-dots li button:hover,.slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{color:#2196F3;}
.slick-dots li button:before{content: "\f111";font-family: FontAwesome;font-size: 11px;line-height: 20px;position: absolute;top: 0;left: 0;width: 20px;height: 20px;text-align: center;color:#9E9E9E;}
.slick-dots .slick-active button:before{color:#2196F3;}
/* ar-bx */
.arr_bx .slick-prev,.arr_bx .slick-next{font-size: 0;line-height: 0;position: absolute;z-index: 1;top: 50%;display: block;width: 26px;height: 46px;padding: 0;transform: translate(0, -50%);cursor: pointer;color: transparent;border: none;outline: none;background: transparent;}
.arr_bx .slick-prev:hover:before{color:#0077d2;transition:color 0.3s;}
.arr_bx .slick-next:hover:before{color:#0077d2;transition:color 0.3s;}
.arr_bx .slick-prev:before{content:"\f104";font-family:FontAwesome;color:#95cbf5;font-size: 60px;display: block;transition:color 0.3s;}
.arr_bx .slick-next:before{content:"\f105";font-family:FontAwesome;color:#95cbf5;font-size: 60px;display: block;transition:color 0.3s;}
.arr_bx .slick-prev{left: -26px;transition:left 0.3s ease;}
.arr_bx:hover .slick-prev{left: 0px;transition:left 0.3s ease;}
.arr_bx .slick-next{right: -26px;transition:right 0.3s ease;}
.arr_bx:hover .slick-next{right: 0px;transition:right 0.3s ease;}